* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-image: url('depositphotos_85929920-stock-photo-black-and-white-doggy-tile.jpg');
    background-size: contain; 
    background-repeat: repeat;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#titulo {
    font-size: 2em;
}

#imagen img {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    border-radius: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #555;
    font-size: 24px;
    border-radius: 25px;

}



.section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.servicios {
    background-color: #f2f2f2;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.productos {
    background-color: #e0e0e0;
}

.guarderia {
    background-color: #d3d3d3;
}

.promociones {
    background-color: #c7c7c7;
}

.consejos {
    background-color: #bababa;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

aside {
    background-color: #5f5f5f00;
    color: white;
    padding: 20px;
    width: 30%;
}

aside h2 {
    font-size: 1.5em;

}
form{
    padding: 1.5em;
    
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

form button {
    background-color: #4d4949;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}